extends layout

block content
  h1= title
  - let items = results
  p Below are some holograms search results:

  .container-fluid
    .row
      each Holograms in items
        .col-sm-3.border.p-2
          h3 Origin: #{Holograms.origin}
          p Tone: #{Holograms.tone} 
          p Clarity: #{Holograms.clarity}

  p
    a(href="/") Back to Home
