extends layout

block content
  h1= title
  - let items = results
  p Below are some holograms search results:

  .container-fluid
    .row
      each holos in items
        .col-sm-3.border.p-2
          h3 Origin: #{holos.origin}
          p Tone: #{holos.tone} 
          p Clarity: #{holos.clarity}

  p
    a(href="/") Back to Home
